#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

td {vertical-align: top;}
#wrapper {margin: 0 auto; width: 960px;}
.center {margin: 0 auto; text-align: center;}
.floatLeft {float: left;}
.floatRight {float: right;}
.clearAll {clear: both;}
.block {display: block;}
.listing th, .listing td {padding: 2px 10px;}
.listing input[type="text"], .listing input[type="password"], .listing textarea {width: 600px;}
.smaller {font-size: 0.75em;}
.marginLR {margin: 0 10px;}
.paddingTR {padding: 10px 10px 0 0;}
.ratingStars {height: 1em;}

