{% extends "index.html" %}
{% block content %}

<form method="post" action="{{base_path}}/do_computer_add">
<table class="listing">
	<tr>
		<td>Brand:</td>
		<td><input type="text" name="brand" value="{{computer.brand}}"></td>
	</tr>
	<tr>
		<td>Computer:</td>
		<td><input type="text" name="name" value="{{computer.name}}"></td>
	</tr>
	<tr>
		<td>Image URL:</td>
		<td><input type="text" name="imgurl" value="{{computer.imgurl}}"></td>
	</tr>
	<tr>
		<td style="vertical-align: top">Text:</td>
		<td><textarea rows="20" name="infotext">{{computer.infotext}}</textarea></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="SUBMIT"></td>
	</tr>
</table>
</form>

{% endblock %}