{% extends "index.html" %}
{% block content %}

<h1>Listing of computers in the Wiki</h1>

{% if user_logged_in %}
<a href="{{base_path}}/computer_add" class="floatRight btn btn-primary" role="button">ADD</a>
{% endif %}

<table class="listing">
	<thead>
		<tr>
			<th>Computer</th>
			<th>Date added</th>
			<th>by user</th>
		</tr>
	</thead>
	<tbody>
		{% for computer in computers %}
		<tr>		
			<td><a href="{{base_path}}/computer_view/{{computer.id}}">{{computer.brand}} {{computer.name}}</a></td>
			<td>{{computer.datum}}</td>
			<td><a href="{{base_path}}/user_view/{{computer.uid}}">{{computer.uname}}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}