{% extends "index.html" %}
{% block content %}

<a href="{{base_path}}/computer_edit" class="floatRight btn btn-primary" role="button">EDIT</a>

<h1>Commodore Amiga 500</h1>
<p>Added 10.11.2017 by <a href="{{base_path}}/user_view">Tom</a></p>

<p class="clearAll">
	<img src="http://oldcomputers.net/pics/amiga500.jpg" class="floatRight" />
	The Amiga 500 can be considered as a cost-reduced version of the original Amiga 1000 computer, which was released two years earlier in 1985. 

	The A1000 was an attractive, two-piece desktop model, while the A500 is a smaller, one-piece "wedge", but still comparable in operation and capability. 

	The powerful multi-tasking operating system of the Amiga line of computers, as well as their advanced multi-processor design, easily eclipsed the capabilities of the Atari 520ST, it's main rival. The A500 turned-out to be the most popular Amiga model ever sold, due in part to the many high-quality games released by third-party developers. 

	The low-end nature of the A500 precluded any internal expansion slots or built-in hard drive support, but a single "trapdoor" expansion slot is accessible on the bottom of the console, utilized mostly to increase the system RAM. 

	A more capable Amiga 2000 was released at about the same time - this high-end system incorporated internal expansions slots and front-panel expansion bays, among other improvements. 
</p>

<h2>Edits</h2>
<p class="clearAll">
	10.11.2017 Tom, 10.11.2017 Tom
</p>

<h2>Reviews</h2>
<p class="clearAll">
	<table class="listing">
		<tr>
			<td>5</td>
			<td><a href="{{base_path}}/user_view">Tom</a></td>
			<td>Best computer ever!</td>
		</tr>
		<tr>
			<td>5</td>
			<td><a href="{{base_path}}/user_view">Tom</a></td>
			<td>MC68k + Copper + Blitter = Rulez!</td>
		</tr>
	</table>
</p>

{% endblock %}