{% extends "index.html" %}
{% block content %}

<h1>Welcome to the Virtual Computermuseum Wiki</h1>

<h2 class="bg-info">Only static data at the moment...</h2>

<img src="http://oldcomputers.net/pics/pet2001.jpg" class="center block" />

<p>
  This is the wiki for resources regarding computers of old, "the golden age of computing". Everybody that interested in taking part in the gathering of information and sharing it to the world is welcomed to join.
  As a registered member you can do the following operations:
  <ul>
    <li>add computers to the list</li>
    <li>edit the info of already added computers</li>
    <li>you may also make a short review regarding the listed computers</li>
    <li>you can edit your own userprofile</li>
    <li>and lastly... you have the choice of removing yourself from the wiki</li>

{% endblock %}