<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}
        Virtual computermuseum Wiki
      {% endblock %}
    </title>

    {% block head %}
      <!-- Bootstrap (tyylitiedosto) -->
      <link href="{{base_path}}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Oma tyylitiedostomme -->
      <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
    {% endblock %}
    <style>
      #wrapper {margin: 0 auto; width: 960px;}
      .center {margin: 0 auto; text-align: center;}
      .floatLeft {float: left;}
      .floatRight {float: right;}
      .clearAll {clear: both;}
      .block {display: block;}
      .listing th, .listing td {padding: 2px 10px;}
      .listing input[type="text"], .listing input[type="password"], .listing textarea {width: 600px;}
      .smaller {font-size: 0.75em;}
      td {vertical-align: top;}
    </style>
  </head>

  <body>
    <div id="wrapper">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Sovelluksen nimi -->
          <a class="navbar-brand" href="{{base_path}}">Virtual computermuseum Wiki</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav">
            <!-- Navigaation linkit -->
            <li><a href="{{base_path}}/computers_list">Computers</a></li>
            <li><a href="{{base_path}}/users_list">Users</a></li>
            {% if user_logged_in == false %}
            <li><a href="{{base_path}}/register">Register</a></li>
            <li><a href="{{base_path}}/login">LOGIN</a></li>
            {% endif %}
            {% if user_logged_in %}<li><a href="{{base_path}}/logout">LOGOUT</a></li>{% endif %}
          </ul>
          {% if user_logged_in %}<span class="floatRight" style="padding: 10px 10px 0 0">Current user: <a href="{{base_path}}/user_view/{{user_logged_in.id}}">{{user_logged_in.name}}</a></span>{% endif %}
        </div>
      </div>
    </nav>

    <div id="main-container">
      <!-- Dynaaminen sisältö tulee tähän -->
      {% block content %}{% endblock %}
    </div>

    {% block body %}
      <!-- jQuery -->
      <script src="{{base_path}}/assets/js/jquery.min.js"></script>

      <!-- Bootstrap (skriptitiedosto) -->
      <script src="{{base_path}}/assets/bootstrap/js/bootstrap.min.js"></script>

      <!-- Oma skriptitiedostomme -->
      <script src="{{base_path}}/assets/js/site.js"></script>
    {% endblock %}
  </div>
  </body>
</html>
