{% extends "index.html" %}
{% block content %}

<h1>Login to the Virtual Computermuseum Wiki</h1>

{% if error == 'loginError' %}
<h2 class="text-danger bg-danger">An error occured. You are NOT logged into the system!</h2>
{% endif %}

<form method="post" action="{{base_path}}/login">
	<table class="listing">
		<tr>
			<td>Name:</td>
			<td><input type="text" name="name" /></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="SUBMIT"></td>
		</tr>
	</table>
</form>


{% endblock %}