{% extends "index.html" %}
{% block content %}

<h1>Edit profile: <span class="smaller">{{user.name}}</span></h1>
<p>Joined: {{user.datum}}</p>

{% if error %}
<h2 class="text-danger bg-danger">{{error}}</h2>
{% endif %}

<form method="post" action="{{base_path}}/do_profile_edit">
<table class="listing">
	<tr>
		<td>Motto:</td>
		<td><textarea name="motto">{{user.motto}}</textarea></td>
	</tr>
	<tr>
		<td></td>
		<td>You can also change your password here, <b>otherwise leave empty</b>.</td>
	</tr>
	<tr>
		<td>Password:</td>
		<td><input type="password" name="pass1" /></td>
	</tr>
	<tr>
		<td>Retype password:</td>
		<td><input type="password" name="pass2" /></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="SUBMIT" /></td>
	</tr>
</table>
</form>

{% endblock %}