{% extends "index.html" %}
{% block content %}

<h1>Register to the Virtual Computermuseum Wiki</h1>

<h2>Hello there! We are happy to get you as a user to our Wiki.</h2>

{% if error %}
<h2 class="bg-danger">{{error}}</h2>
{% endif %}

{% set numbers = ['zero','one','two','three','four','five','six','seven','eight','nine'] %}
{% set num1 = random(8)+1 %}
{% set num2 = random(8)+1 %}
{% set num3 = random(8)+1 %}
{% set check = (num1*100+num2*10+num3)**2 %}

<form class="clearAll" method="post" action="{{base_path}}/register">
	<input type="hidden" name="check1" value="{{check}}" />
	<table class="listing">
		<tr>
			<td>Name:</td>
			<td><input type="text" name="name" /></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="pass1" /></td>
		</tr>
		<tr>
			<td>Retype passsword:</td>
			<td><input type="password" name="pass2" /></td>
		</tr>
		<tr>
			<td>Not a robot:</td>
			<td>Type the following string as numbers without spaces: <b>{{numbers[num1]}} {{numbers[num2]}} {{numbers[num3]}}</b><br/><input type="text" name="check2" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="SUBMIT"></td>
		</tr>
	</table>
</form>

{% endblock %}