{% extends "index.html" %}
{% block content %}

{% if ownprofile %}
<div class="floatRight">
	<a href="{{base_path}}/profile_delete" class="btn btn-danger marginLR" role="button">DELETE</a>
	<a href="{{base_path}}/profile_edit" class="btn btn-warning marginLR" role="button">EDIT</a>
</div>
{% endif %}

<h1>User: {{user.name}}</h1>
<p>Joined {{user.datum}}</p>

<p class="clearAll">
{{user.motto}}
</p>

<h2>Added and edited computers</h2>
<p class="clearAll">
	{% if logs %}
	<table class="listing">
		{% for log in logs %}
		<tr>
			<td>{{log.datum}}</td>
			<td><a href="{{base_path}}/computer_view/{{log.comp_id}}">{{log.comp_brand}} {{log.comp_name}}</a></td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>No computers added yet.</p>
	{% endif %}
</p>

<h2>Reviews</h2>
<p class="clearAll">
	{% if reviews %}
	<table class="listing">
		{% for review in reviews %}
		<tr>
			<td>{{review.datum}}</td>
			<td><img src="{{base_path}}/assets/img/{{review.rating}}-stars.png" alt="Rating: {{review.rating}}" class="ratingStars"/></td>
			<td><a href="{{base_path}}/computer_view/{{review.comp_id}}">{{review.comp_brand}} {{review.comp_name}}</a></td>
			<td class="wrap">{{review.review}}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>No reviews made yet.</p>
	{% endif %}
</p>

{% endblock %}